button {
    padding: 10px;
    width: 50px;
    height: 50px;
}


button {
    padding: 1%;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
}